@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
  margin: 3px;
}
::-webkit-scrollbar-thumb {
  @apply bg-white bg-opacity-40 hover:bg-opacity-60;
}

.btn {
  @apply px-4 py-2 font-semibold;
}
.btn-circle {
  @apply rounded-full p-3 bg-white bg-opacity-20 hover:bg-opacity-50 w-[50px] h-[50px] text-white;
}
.opa {
  @apply bg-white bg-opacity-20 hover:bg-opacity-50;
}
.heading {
  @apply text-white  font-extrabold text-4xl my-6;
}
